.four_categories_section {
  max-width: 1176px;
  margin: 0 auto;

  .categories_heading {
    width: 912px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2f4858;
    margin: 0 auto 56px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      margin: 0 auto 32px;
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .four_flex_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 80px;

    @media (min-width: 599px) and (max-width: 768px) {
      margin-bottom: 48px;
    }
    @media (max-width: 599px) {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 48px;
    }

    @media (min-width: 999px) {
      justify-content: space-between;
      gap: 32px;
    }

    .cate_box {
      min-width: 160px;
      text-align: center;

      @media (max-width: 768px) {
        min-width: 100px;
      }

      .cate_img {
        width: 160px;
        height: 160px;
        background: #ffffff;
        box-shadow: 1px 2.5px 6px 1px rgba(0, 0, 0, 0.09);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 16px;
        margin: 0 auto;

        .device_img {
          width: 64.7px;
          height: 64.7px;
        }
      }
      .devive_name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .d_name {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #2f4858;
          margin: 0;
        }
        .right_arrow {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .device_links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 14px;
    width: auto;
    height: 60px;
    background: #f15a22;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    margin: 0 auto;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }
}

.section_img_short {
  max-width: 1440px;
  margin: 107px auto 80px;
  padding: 0 74px;

  @media (max-width: 768px) {
    margin: 43px auto 40px;
  }

  @media (max-width: 992px) {
    padding: 0;
  }

  .Screenshot-section-img {
    width: auto;
  }
}
