.main_bg_color {
  width: 100%;
  background: #f7f7f7;
}

.main_section {
  @media (max-width: 768px) {
    padding: 0 24px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
  }
}

.vat__section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 0;

  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }

  .vat_main_container {
    width: 100%;
    height: 908px;
    overflow: hidden;

    background-image: url("../images/vat-hero-bg-img-2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;

    @media (max-width: 992px) {
      height: 733px;
      background-image: none;
      background: #cee8fe;
    }

    // @media (max-width: 768px) {
    //   height: auto;
    //   padding-bottom: 215px;
    // }

    @media (min-width: 999px) and (max-width: 1180px) {
      background-position: -285px;
    }

    .vat_hero_content {
      width: 577px;
      margin: 191px 0 0 88px;
      position: relative;
      z-index: 1;
      @media (min-width: 999px) and (max-width: 1180px) {
        width: 465px;
      }

      @media (min-width: 992px) and (max-width: 1280px) {
        margin: 191px 0 0 40px;
      }

      @media (max-width: 992px) {
        width: 299px;
        margin: 40.49px 0 0 24px;
      }

      // @media (max-width: 768px) {
      //   width: 100%;
      //   margin: 80px 0 0;
      //   padding: 0 24px;
      // }

      .hero_heading {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 0.01em;
        color: #2f4858;
        margin-bottom: 32px;

        @media (max-width: 992px) {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 12px;
        }
      }

      .hero_text {
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.01em;
        color: #2f4858;

        @media (max-width: 992px) {
          font-size: 24px;
          line-height: 33px;
        }
      }
    }

    // vat logo
    .vat_free_img {
      width: 210.38px;
      height: auto;
      position: relative;
      z-index: 2;
      margin: 52px 0 0 64px;

      @media (max-width: 992px) {
        width: 147px;
        height: 84.51px;
        margin: 41px 0 0 27px;
      }
    }

    // arrow
    .hero_arrow_img {
      width: 759px;
      height: 521.03px;
      position: absolute;
      top: 35px;
      left: 249px;
      display: block;

      @media (max-width: 999px) {
        display: none;
      }

      @media (min-width: 1280px) and (max-width: 1400px) {
        width: 660px;
      }
      @media (min-width: 1180px) and (max-width: 1280px) {
        width: 520px;
      }
      @media (min-width: 999px) and (max-width: 1180px) {
        width: 520px;
      }
    }

    .hero_arrow_img_mobile {
      width: auto;
      height: 556.82px;
      position: absolute;
      top: 55px;
      // left: 32px;
      right: 0;
      z-index: 1;
      display: block;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .hero_user_img {
      width: auto;
      height: 586px;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
