.online__vat_section {
  max-width: 1200px;
  margin: 0 auto 40px;

  @media (max-width: 768px) {
    margin: 0 auto 48px;
  }

  .online_vat_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #576b78;
    margin-bottom: 41px;
    width: 853px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .online_vat_main_section {
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 6px;

    .onliner_main_heading {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16.53px;
      border-bottom: 1px solid rgba(47, 72, 88, 0.5);
      padding: 37px 56px 25px;

      @media (max-width: 768px) {
        gap: 14.61px;
        padding: 24px 24px 16px;
      }

      .online_true_img {
        width: 28.47px;
        height: 35px;
      }

      .online_true_heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: #2f4858;

        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 25px;
        }

        & span {
          color: #f15a22;
        }
      }
    }

    .online_list_form {
      display: flex;
      align-items: center;
      gap: 46px;
      padding: 32px 18.39px 56px 56px;

      @media (max-width: 768px) {
        padding: 17px 24px 32px;
        gap: 16px;
      }

      @media (max-width: 999px) {
        flex-direction: column-reverse;
      }

      .online_vat_list {
        width: 100%;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            align-items: flex-start;
            gap: 17px;

            + li {
              margin-top: 24px;

              @media (max-width: 768px) {
                margin-top: 19px;
              }
            }

            > p {
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
              color: #2f4858;

              @media (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
              }
            }

            > span {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              width: 31px;
              height: 31px;
              font-weight: 600;
              font-size: 21px;
              line-height: 22px;
              color: #2f4858;
              background: #eaedee;
              border-radius: 50%;
            }
          }
        }
      }

      .online_list_img {
        width: 377.61px;
        height: 335.3px;
        flex-shrink: 0;

        @media (max-width: 999px) {
          flex-shrink: inherit;
          width: auto;
          height: auto;
        }

        .online_img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }
}
