.purchaseVat__sectiion {
  max-width: 1181px;
  margin: 0 auto 80px;
  padding: 56px 75px 64px 85px;
  background: #cfe6fd;
  border-radius: 8px;
  text-align: center;

  @media (max-width: 768px) {
    margin: 48px auto;
    padding: 24px 24px 32px;
  }

  .purchase_heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #2f4858;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 8px;
    }
  }
  .purchase_about {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2f4858;
    opacity: 0.6;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
